
@keyframes MoveFundo {
    0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




body{
    background: linear-gradient(45deg, #0a1410, #12281e, #1c3c2f);
    min-height: 100vh;
    animation: MoveFundo 15s ease infinite;
    background-size: 400% 400%;
}

.centertext{
    display: flex;
    align-items: center;
    justify-content: center;
}

.topo-text{
  color: white;
  font-weight: bold;
}





.progress-circle{
    width: 200px;
    height: 100px;
    background-color: black;
    border-radius: 120px 120px 0 0;

    position: relative;

    --progress: 90deg; /*Variável dentro da classe*/

    background: conic-gradient( 
      from 270deg at 50% 100%,
      rgb(0, 195, 255) var(--progress),
      rgb(94, 94, 94) var(--progress)
    );
}

.progress-circle::before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 100px 100px 0 0;

  width: 160px;
  height: 80px;

  background-color: #0a1410;
  
}


.progress-value{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #fffefe;
    bottom: 10px;
    /* z-index: 1; */
}